.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  padding-top: 20px;
}

.icon-arrow {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.chevron-left {
  height: 20px;
  width: 20px;
}

.cuenco-text {
  height: 50px;
  flex: 1;
  fill: #72a200 !important;
  margin-left: -10px;
}

.detail-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.photo {
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
  object-fit: contain;
}

.product {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  font-size: 16px;
  color: #c7c7c7;
  text-align: center;
}

.detail {
  margin-top: 10px;
}

.detail-box {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 4px 10px;
}

.icon {
  height: 30px;
  fill: currentColor;
  color: #72a200 !important;
}

.detail-desc {
  margin-left: 20px;
}
