.box {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

.img img {
  width: 90px;
  object-fit: contain;
  border-radius: 10px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
  color: #5f5f5f;
  margin-bottom: 10px;
}

.price-area {
  margin-bottom: 10px;
}

.price-icon {
  color: #e60023;
  font-size: 20px;
}

.price {
  font-size: 20px;
  font-weight: 500;
}
